:root {
  --color-bg: #181719;
  --color-text: #fff;
  --font-heading: "Lora", "Times New Roman", Times, serif;
  --font-general: "Montserrat", Arial, Helvetica, sans-serif;
  --font-logo: "Crimson Pro", "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f8f8fa;
    --color-text: #3a3a3a;
  }
}
