@import "./fonts.css";
@import "./normalize.css";

/* box-sizing */
* {
  box-sizing: border-box;
}
/* font and color */
:root {
  --color-bg: #181719;
  --color-text: #fff;
  --color-bg-2: #181719;
  --font-heading: "Lora", Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-general: "Montserrat", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  --font-logo: "Crimson Pro", Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f5f5f5;
    --color-text: #222;
    --color-bg-2: #eee;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

/* article */
.article {
  margin: auto 0;
}

.article__heading {
  font-family: var(--font-heading);
  font-size: 3.6rem;
  font-weight: 500;
  margin-top: 0;
}

.article__paragraph {
  font-family: var(--font-general);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  width: 22ch;
}

.article__link {
  color: var(--color-text);
  font-family: var(--font-general);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

.article__link > svg {
  fill: var(--color-text);
  transform: translate(0px, 8px);
  transition: transform 0.2s;
}

.article__link:hover > svg {
  transform: translate(5px, 8px);
}

@media screen and (min-width: 425px) {
  .article__heading {
    font-size: 4.8rem;
  }

  .article__paragraph {
    font-size: 2.4rem;
  }

  .article__link {
    font-size: 1.8rem;
  }
}

/* card */
.card {
  background: var(--color-bg-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: min(70vw, 300px);
  height: 138px;
  padding: 10px 20px;
  position: absolute;
  bottom: -15vh;
  right: 8vw;
}

.card__profile {
  display: flex;
}

.card__picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.card__name {
  font-family: var(--font-general);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px 15px;
}

.card__job {
  font-family: var(--font-general);
  font-weight: 500;
  font-size: 1rem;
  color: #828282;
  margin: 2px 15px;
}

.card__heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.8rem;
  width: 17ch;
}

@media screen and (min-width: 425px) {
  .card {
    width: min(80vw, 410px);
    height: 190px;
    padding: 15px 30px;
  }

  .card__name {
    font-size: 1.4rem;
  }

  .card__job {
    font-size: 1.2rem;
  }

  .card__heading {
    font-size: 2.4rem;
  }
}

/* Logo */
.logo {
  border: 1px solid var(--color-text);
  display: inline-flex;
  height: 30px;
  width: 120px;
}

.logo__text {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: auto;
}

/* Menu */
.menu {
  display: inline-flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.menu__burger {
  width: 30px;
  height: 3px;
  background: var(--color-text);
  transition: all 0.2s;
}

.menu__burger::before,
.menu__burger::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: var(--color-text);
  transition: all 0.2s;
}

.menu__burger::before {
  transform: translateY(-8px);
}

.menu__burger::after {
  transform: translateY(8px);
}

.menu.open .menu__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu.open .menu__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu.open .menu__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Grid */
.grid {
  display: grid;
  gap: 40px;
  position: relative;
  margin: 100px 0;
}

.grid > .design-work > img {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 45% 55%;
    gap: 0;
  }
}

.container {
  margin-inline: auto;
  padding: 0 5vw;
}

/* Nav */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-2);
  padding: 10px 5vh;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-family: var(--font-general);
  color: var(--color-text);
  margin-left: 50px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
