<div class="grid container">
  <article class="article">
    <h1 class="article__heading">Modern interior</h1>
    <p class="article__paragraph">
      A full-Service residential & commercial interior design and staging
      company offering professional organizing & eco-services.
    </p>
    <a class="article__link" href="#">
      Read more
      <img src="icons/arrow_right.svg" alt="" />
    </a>
  </article>
  <div class="design-work">
    <img
      sizes="(max-width: 1400px) 100vw, 1400px"
      srcset="
        images/photo1_w_200.webp   200w,
        images/photo1_w_926.webp   926w,
        images/photo1_w_1400.webp 1400w
      "
      src="images/photo1_w0wh2t_c_scale,w_1400.webp"
      alt=""
    />
    <div class="card">
      <div class="card__profile">
        <img
          class="card__picture"
          src="images/photo2.webp"
          alt="Aliza Webber's profile picture"
        />
        <div>
          <h3 class="card__name">Aliza Webber</h3>
          <p class="card__job">Interior designer</p>
        </div>
      </div>
      <h2 class="card__heading">Designed in 2020 by Aliza Webber</h2>
    </div>
  </div>
</div>
